Repository wework/ray, pull requests merged in 2019-09, with the labels that each got.

#214 chore(core-react): add typings for button
  packages/core-react/index.d.ts
Labels: package: core-react

#218 feat(core-react): add typings to index.d.ts for Container, Grid, & Cell
  lerna.json
  packages/core-react/index.d.ts
Labels: package: core-react

#210 fix(core-react): Exporting existing components for use!
  packages/core-react/src/components/Checkbox/checkbox.test.js
  packages/core-react/src/components/Radio/radio.test.js
  packages/core-react/src/components/Select/select.test.js
  packages/core-react/src/index.js
Labels: package: core-react

#219 chore(core-react): Add typings for checkbox
  packages/core-react/index.d.ts
Labels: package: core-react

#221 chore(core-react): Add typings for TextArea
  packages/core-react/index.d.ts
Labels: package: core-react

#220 chore(core-react): Add Storybook A11y addon
  packages/product-react/.storybook/addons.js
  packages/product-react/.storybook/config.js
  packages/product-react/package.json
  yarn.lock
Labels: package: product-react

#222 chore(core-react): Add typings for Select
  packages/core-react/index.d.ts
Labels: package: core-react

#216 chore(core-react): add typings for radio
  packages/core-react/index.d.ts
Labels: package: core-react

#215 chore(core-react): add typings for card
  packages/core-react/index.d.ts
Labels: package: core-react

#228 feat(core-react): add types for image
  packages/core-react/index.d.ts
Labels: package: core-react

#229 James/selectprops functionality
  packages/core-react/index.d.ts
  packages/core-react/src/components/Common/Icon.js
  packages/core-react/src/components/Select/Select.scss
  packages/core-react/src/components/Select/index.js
  packages/core-react/src/components/Select/select.test.js
  packages/core-react/src/index.js
  packages/core-react/stories/select.stories.js
Labels: package: core-react

#211 Add Tabs to React-Product
  package.json
  packages/core-react/src/index.js
  packages/docs-app/package.json
  packages/product-react/.storybook/config.js
  packages/product-react/.storybook/webpack.config.js
  packages/product-react/config/rollup.config.js
  packages/product-react/index.d.ts
  packages/product-react/package.json
  packages/product-react/src/components/Tabs/TabView.scss
  packages/product-react/src/components/Tabs/TabView.test.tsx
  packages/product-react/src/components/Tabs/TabView.tsx
  packages/product-react/src/components/Tabs/Tabs.scss
  packages/product-react/src/components/Tabs/Tabs.test.tsx
  packages/product-react/src/components/Tabs/Tabs.tsx
  packages/product-react/src/components/Tabs/context.ts
  packages/product-react/src/components/Tabs/index.ts
  packages/product-react/src/index.js
  packages/product-react/src/index.ts
  packages/product-react/stories/Tabs.story.tsx
  packages/product-react/stories/index.stories.js
  packages/product-react/test/index.test.ts
  packages/product-react/tsconfig.json
  yarn.lock
Labels: package: product-react, pending design review

#230 James/textbox props functionality
  packages/core-react/src/components/TextField/index.js
  packages/core-react/src/components/TextField/textField.test.js
  packages/core-react/stories/TextField.stories.js
Labels: package: core-react
